@media (max-width: 1200px)
    .promo
        &__header
            font-size: 38px
            line-height: 38px
        &__subheader
            font-size: 20px
            line-height: 20px
    .title
        font-size: 27px
        line-height: 27px
@media (max-width: 991px)
    .promo
        min-height: 625px
        padding: 21px 20px 73px 20px
        &__header
            font-size: 30px
            line-height: 30px
        &__subheader
            font-size: 17px
            line-height: 17px
            margin-bottom: 0
    .button
        &_main
            width: 250px
            height: 45px
            font-size: 14px
            margin-top: 67px
    .title
        font-size: 24px
        line-height: 24px
    .advantages
        min-height: 450px
        padding: 60px 20px 60px 20px
        &__wrapper
            margin-top: 55px
        &__item
            max-width: 210px
        &__subtitle
            font-size: 17px
            margin-top: 30px
        &__descr
            font-size: 14px
            line-height: 1.2
            margin-top: 20px
@media (max-width: 767px)
    .header
        &__logo
            width: 170px
        &__official
            font-size: 10px
            span
                font-size: 15px
        &__phone
            font-size: 15px
    .promo
        min-height: 500px
        padding: 20px 20px 55px 20px
        &__wrapper
            margin-top: 70px
        &__header
            font-size: 26px
            line-height: 26px
        &__subheader
            font-size: 15px
            line-height: 15px
        &__icons
            width: 350px
            margin-top: 55px
        &__icon
            width: 90px
            font-size: 10px
            img
                width: 36px
                height: 40px
                margin-bottom: 20px
        &__link
            font-size: 12px
            margin-top: 12px
    .button
        width: 120px
        height: 30px
        font-size: 10px
        &_main
            width: 200px
            height: 40px
            font-size: 12px
            margin-top: 45px
    .advantages
        min-height: 450px
        padding: 40px 20px 40px 20px
        &__wrapper
            flex-direction: column
            align-items: center
            margin-top: 15px
        &__item
            max-width: 300px
            margin-top: 30px
        &__subtitle
            font-size: 17px
            margin-top: 15px
        &__descr
            font-size: 14px
            line-height: 1.2
            margin-top: 15px
@media (max-width: 575px)
    .header
        &__logo
            width: 160px
        &__official
            display: none
            font-size: 10px
            span
                font-size: 15px
        &__phone
            font-size: 12px
    .promo
        min-height: 430px
        padding: 20px 20px 40px 20px
        &__wrapper
            margin-top: 50px
        &__header
            font-size: 22px
            line-height: 22px
        &__subheader
            font-size: 12px
            line-height: 12px
        &__icons
            width: 250px
            margin-top: 40px
        &__icon
            width: 78px
            font-size: 10px
            img
                width: 30px
                height: 34px
                margin-bottom: 15px
        &__link
            font-size: 11px
            margin-top: 10px
    .button
        width: 110px
        height: 28px
        font-size: 10px
        &_main
            width: 165px
            height: 35px
            font-size: 11px
            margin-top: 47px
    .title
        font-size: 21px
        line-height: 21px
    .advantages
        min-height: 450px
        padding: 40px 20px 40px 20px
        &__wrapper
            margin-top: 0px
        &__item
            max-width: 210px
        &__subtitle
            font-size: 17px
            margin-top: 15px
        &__descr
            font-size: 14px
            line-height: 1.2
            margin-top: 10px